body {
  margin: 0;
}
.home {
  width: 100%;
  /* height: 700vh; */
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.mobile {
  height: 100vh;
  width: 100%;
  display: none;
}
.left-div {
  width: 45%;
  height: 700vh;
  background-color: #9003fc;
  color: white;
  z-index: 50;
}
.right-div {
  width: 55%;
  height: 100%;
  background-color: #c7c7c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-div > div {
  height: 100vh;
  scroll-snap-align: start;
}

.middle-content {
  position: fixed;
  height: 40%;
  right: 47%;
  top: 10%;
  background-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 170px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 170px;
}

.middle-content > svg {
  position: absolute;
  height: 100%;
  right: 0;
}

.middle-content > div {
  margin: 110px 110px 80px 70px;
}
.middle-content > div > p {
  font-size: calc(12px + 0.3vw);
  margin: 0;
}
.middle-content > div > h1 {
  margin: 5px 0;
  font-size: calc(20px + 1.5vw);
}

.heading-footer {
  text-align: end;
}
.bottom-content {
  position: fixed;
  top: 72%;
  left: 3%;
}
.bottom-content > h1 {
  font-size: calc(20px + 1.5vw);
  margin: 5px 0;
}

.bottom-content > p {
  font-size: calc(12px + 0.3vw);
}
h1,
p {
  overflow-y: hidden;
}
.skip-button {
  position: fixed;
  right: 56%;
  top: 92%;
  padding: 5px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

.heading-info {
  width: 60%;
  margin-bottom: 40px;
}
.page {
  overflow: hidden;
}
.page0 {
  height: 1px !important;
}
#p1i1 {
  width: 20%;
  position: fixed;
  top: 20%;
  left: 52%;
}
#p1i2 {
  width: 20%;
  position: fixed;
  top: 20%;
  left: 70%;
}

#p2i1 {
  width: 15%;
  position: fixed;
  bottom: 0;
  right: 25%;
  display: none;
}
#p2i2 {
  width: 15%;
  position: fixed;
  top: 0;
  right: 5%;
  display: none;
}
#p3i1 {
  width: 18%;
  position: fixed;
  top: 30%;
  left: 60%;
  display: none;
}
#p3i2 {
  width: 15%;
  position: fixed;
  top: -15%;
  right: 5%;
  display: none;
}

#p4i1 {
  width: 20%;
  position: fixed;
  top: -10%;
  left: 44%;
  display: none;
}
#p4i2 {
  width: 15%;
  position: fixed;
  bottom: 0;
  display: none;
  left: 55%;
}

#p4i3 {
  width: 15%;
  position: fixed;
  top: 10%;
  display: none;
  right: 10%;
}

#p4i4 {
  width: 15%;
  position: fixed;
  top: -20%;
  display: none;
  right: 2%;
}
#p4i5 {
  width: 30%;
  position: fixed;
  bottom: -15%;
  display: none;
  right: -5%;
}

#p5i1 {
  width: 13%;
  position: fixed;
  top: -10%;
  left: 50%;
  display: none;
}
#p5i2 {
  width: 13%;
  position: fixed;
  top: -2%;
  display: none;
  left: 65%;
}

#p5i3 {
  width: 13%;
  position: fixed;
  top: 30%;
  display: none;
  right: 5%;
}

#p5i4 {
  width: 13%;
  position: fixed;
  bottom: -5%;
  display: none;
  left: 50%;
}
#p5i5 {
  width: 13%;
  position: fixed;
  bottom: -15%;
  display: none;
  left: 65%;
}

#p6i1 {
  width: 57%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: none;
}
#p6i2 {
  width: 57%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

#p7i1 {
  width: 20%;
  position: fixed;
  left: 55%;
  z-index: 2;
  bottom: -10%;
  display: none;
}

#p7i2 {
  width: 16%;
  position: fixed;
  left: 69%;
  bottom: -5%;
  display: none;
}

#entrepreneur,
#world-com {
  width: 18%;
  position: fixed;
  left: 3%;
  z-index: 101;
  top: 55%;
  display: none;
}

.dotsstro1,
.dotsstro2,
.dotsstro3,
.dotsstro4,
.dotsstro5,
.dotsstro6,
.dotsstro7 {
  stroke: rgb(177, 177, 177);
}

@media screen and (max-width: 600px) {
  .owl-dots {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  .home {
    display: none;
  }
  .mobile {
    display: block;
    overflow: hidden;
  }
  .top-div {
    height: 50%;
    width: 100%;
    position: relative;
  }
  .bottom-div {
    position: relative;
    height: 50%;
    width: 100%;
    z-index: 10;
    color: white;
  }

  .item1 > .top-div {
    background-color: #c7c7c7;
  }
  .item1 > .bottom-div {
    background-color: #9003fc;
  }

  .item2 > .top-div {
    background-color: #30038a;
  }
  .item2 > .bottom-div {
    background-color: #562dfa;
  }
  .item3 > .top-div {
    background-color: #1f1973;
  }
  .item3 > .bottom-div {
    background-color: #07024f;
  }
  .item4 > .top-div {
    background-color: #08121a;
  }
  .item4 > .bottom-div {
    background-color: #002a4d;
  }
  .item5 > .top-div {
    background-color: #04bfe0;
  }
  .item5 > .bottom-div {
    background-color: #023dc7;
  }
  .item6 > .top-div {
    background-color: #1f1973;
  }
  .item6 > .bottom-div {
    background-color: #020fc7;
  }
  .item7 > .top-div {
    background-color: #26ab24;
  }
  .item7 > .bottom-div {
    background-color: #267339;
  }

  #t1i1 {
    z-index: 1;
    width: 60%;
    position: absolute;
    top: 5%;
    left: -5%;
  }
  #t1i2 {
    width: 60%;
    position: absolute;
    top: 10%;
    left: 40%;
  }

  #t2i1 {
    width: 45%;
    position: absolute;
    bottom: 0;
    left: 2%;
  }
  #t2i2 {
    width: 45%;
    position: absolute;
    top: 0;
    right: 2%;
  }
  #t3i1 {
    width: 55%;
    position: absolute;
    top: 30%;
    left: -4%;
  }
  #t3i2 {
    width: 47%;
    position: absolute;
    top: -25%;
    right: 2%;
  }

  #t4i1 {
    width: 40%;
    position: absolute;
    top: -10%;
    left: 0%;
  }
  #t4i2 {
    width: 40%;
    position: absolute;
    bottom: -10%;
    left: 0%;
  }

  #t4i3 {
    width: 45%;
    position: absolute;
    top: -5%;
    right: 15%;
  }

  #t4i4 {
    width: 15%;
    position: absolute;
    top: -20%;
    right: 2%;
  }
  #t4i5 {
    width: 30%;
    position: absolute;
    bottom: -15%;
    right: -10%;
  }

  #t5i1 {
    width: 33%;
    position: absolute;
    top: -20%;
    left: 1%;
  }
  #t5i2 {
    width: 33%;
    position: absolute;
    top: -5%;
    left: 35%;
  }

  #t5i3 {
    width: 33%;
    position: absolute;
    top: 33%;
    right: 1%;
  }

  #t5i4 {
    width: 33%;
    position: absolute;
    bottom: -20%;
    left: 1%;
  }
  #t5i5 {
    width: 33%;
    position: absolute;
    bottom: -40%;
    left: 35%;
  }

  #t6i1 {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
  }
  #t6i2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  #t7i1 {
    width: 70%;
    position: absolute;
    left: 0%;
    z-index: 2;
    bottom: -20%;
  }

  #t7i2 {
    width: 45%;
    position: absolute;
    right: 5%;
    bottom: -15%;
  }

  #best-award {
    left: 5%;
    top: -7%;
    width: 65%;
    z-index: 200;
    position: absolute;
    border-radius: 8px;
  }
  #world {
    left: 5%;
    top: -7%;
    width: 65%;
    z-index: 200;
    position: absolute;
    border-radius: 8px;
    border: 2px solid #9003fc;
  }
  .owl-dot span {
    background: rgba(130, 130, 130, 0.541) !important;
  }
  .active span {
    background: rgb(255, 255, 255) !important;
  }
  .bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bottom-div > h1 {
    margin: 5px;
  }
  .bottom-div > div {
    margin: 20px 0 5px 5px;
  }
  .bottom-div > div > strong {
    font-size: 15px;
    font-weight: 500;
  }
  .bottom-div > p {
    margin: 5px;
  }
  .coming-soon {
    margin-left: 15px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
  }
}
